body{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'sans-serif';
}
.wrapper{
	width: 100%;
	background: #000;
	display: inline-block;
}

img{
	float: left;
}

.search{
	display: block;
	width: 98%;
    margin: 10px auto;
    font-family: 'Helvetica', 'sans-serif';

	input{
		margin: 0 auto;
		display: inline-block;
		width: 200px;
		&:focus{
			outline: none;
		}
	}

	.search-results{
		display: inline;
	}
}


button{
	position: relative;
	&:focus{
		outline: none;
	}
}

.active{
	color: pink;
	border: 2px solid pink;
}
