.wrapper{
	width:100%;
	background:#000;
	display: inline-block;
	// float:left;
}

img{
	float:left;
}

.search{
	display: inline-block;
	width: 100%;
    margin: 0 auto 20px;

	input{
		margin: 0 auto;
		display: inline-block;
		width: 50%;
	}
}
